*{

box-sizing:border-box;

}



body{

margin:0;

font-family:Arial,sans-serif;

background:#bdefff;

padding-bottom:90px;

}




.game{

max-width:420px;

min-height:100vh;

margin:auto;

background:white;

padding:20px;

text-align:center;

}





.page{

display:none;

}



.page.active{

display:block;

}





h1{

color:#ff9900;

font-size:40px;

}



h2{

color:#555;

}




#mainChicken{

font-size:120px;

margin:20px 0;

}





.stats{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:10px;

margin-bottom:20px;

}




.status{

background:#fff0b0;

padding:12px;

border-radius:20px;

min-width:85px;

font-size:18px;

}





.box{

background:#fff5c7;

border-radius:25px;

padding:20px;

margin:15px 0;

}





.buttons{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:8px;

}





button{

border:none;

background:#ffae00;

color:white;

padding:12px 15px;

border-radius:25px;

font-size:15px;

margin:5px;

cursor:pointer;

}



button:hover{

opacity:0.8;

}






/* =================
   CHUỒNG
================= */



.slots{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:10px;

margin:20px 0;

}




.slot{

width:110px;

min-height:130px;

background:#fff0b0;

border-radius:20px;

padding:10px;

font-size:14px;

cursor:pointer;

}





.slot:hover{

transform:scale(1.05);

}





.emoji{

font-size:45px;

margin-bottom:5px;

}







/* =================
   SHOP
================= */



#shopPage button{

width:85%;

}





/* =================
   MENU
================= */



.menu{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);


width:100%;

max-width:420px;


background:white;


display:flex;

justify-content:space-around;


padding:8px 5px;


border-radius:25px 25px 0 0;


box-shadow:0 -3px 10px #ccc;


z-index:10;

}





.menu button{

background:#ffe082;

color:#333;

font-size:12px;

padding:8px 5px;

margin:0;

}
