body{

margin:0;

font-family:Arial;

background:linear-gradient(#bdefff,#b5ef72);

}



.game{

max-width:420px;

margin:auto;

background:white;

min-height:100vh;

padding:20px;

border-radius:40px;

text-align:center;

}



h1{

color:#ff9900;

font-size:45px;

}



#chicken{

font-size:120px;

margin:30px;

}



#stage{

font-size:28px;

}



.stats{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:10px;

background:#fff2bd;

padding:20px;

border-radius:30px;

}



.status{

background:white;

padding:12px;

border-radius:20px;

font-size:20px;

min-width:90px;

}



#timeBox{

margin:15px;

font-size:22px;

}



.feed-box{

margin-top:20px;

}



.buttons{

display:flex;

flex-wrap:wrap;

gap:10px;

justify-content:center;

}



button{

background:#ff9900;

color:white;

border:none;

border-radius:30px;

padding:15px 20px;

font-size:18px;

}



.actions{

margin-top:20px;

}
